.container {
    width: 100vw;
    padding-left: 10px;
    padding-right: 10px;
}
.contentContainer {
    border-radius: 5px;
    height: 50vh;
    min-height: 300px;
    max-height: 80vh;
    /* overflow-y: scroll; */
}

.blogContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5%;
    gap: 25px;
}
.generalInput {
    padding-top: 25px;
    width: 75%;
}
.contentInput {
    padding-top: 25px;
    width: 75%;
    resize: both;
    overflow: auto;
}
.button {
    display: flex;
    align-self: flex-start;
    margin-top: 15px;
}