.homePage {
    height: 100vh;
    color: #404040;

    /* darkmode */
    /* background-color: #404040;
    color: whitesmoke; */
    
}
.banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.carouselItems {
    position: sticky;
}
.unorderedList {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    gap: 25%;
    list-style: none;
    justify-content: center;
}

/* form options */
.formOption {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 15%;
}

/* form body */
.formBody {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    /* light mode */
    background-color: whitesmoke;
    color: #404040;

    /* darkmode */
    /* background-color: #404040;
    color: whitesmoke; */
}
.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.input {
    margin-bottom: 25px;
    width: 25vw;
    background-color: whitesmoke;
    color: #404040;
}

.pText {
    margin-top: 25px;
}
.pText:hover {
    cursor: pointer;
    color: #887efa;
}


.navItem {
    padding-left: 30px;
    padding-right: 30px;
}
.navItem:hover {
    cursor: pointer;
    color: #887efa;
}
.formTypeText:hover {
    cursor: pointer;
    color: #887efa;
}

.blogAuthor:hover {
    cursor: pointer;
    color: #887efa;
}