.blogContainer {
    margin-top: 30px;
    margin-left: 50px;
}

.successMessage {
    margin-top: 20px;
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
}

.successAnimation {
    width: 50px;
    height: 50px;
    margin: 0 auto 10px auto;
    background: url('/checkmark.svg') no-repeat center;
    background-size: contain;
    animation: scaleUp 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes scaleUp {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}


.contentTextarea {
    width: 100%;
    max-width: calc(100% - 50px);
    height: 150px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: none;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
    margin-right: auto;
}

.contentTextarea:focus {
    border-color: #887efa;
    box-shadow: 0 0 5px rgba(97, 69, 198, 0.5);
}

.contentButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.submitBlogButton {
    display: inline-block;
    align-items: start;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #887efa;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.submitBlogButton:hover {
    background-color: #685fc6;
    transform: scale(1.05);
}

.submitBlogButton:active {
    background-color: #564fa5;
}

.centerContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.updateInput {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
    margin: 10px 0;
}

.updateInput:focus {
    border-color: #887efa;
    box-shadow: 0 0 5px rgba(97, 69, 198, 0.5);
}

.blogText {
    text-align: start;
    margin-bottom: 10px;
}
.blogTitle {
    text-align: start;
    padding-top: 10px;
}
.blogContent {
    margin: 10px 0;
}